body{color: white;
    margin: 0px;
    padding: 0px;
    margin-right: 800px;
    background: url('v882-sasi-53.jpg'); 
    background-size: 1592px 900px;
    background-repeat: no-repeat;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.left{
left: 25px;
position:fixed;
margin-top: 20px;
/* color: springgreen; */
}
.text{
  display: inline-block;
  left: 25px;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-175%);
  font-family:'Amatic SC', cursive;
  font-size:40px;
  position: absolute;
  text-shadow: 1px 1px #FF0000;
  
}
.right{
display: inline-block;
right: 20px;
position: absolute;
}
.bottom {
  position: absolute;

  top:92%;
  left:50%;

  transform: translate(-50%,-50%);
}
.spark {
    margin-top: 10px;
    width: 90px;
    height: 80px;
}
.navbar{
    display: inline-block;
    max-width: 100%;
    margin: 0;
    padding: 0;
    top: 0;
    overflow: hidden;
    /* color: springgreen; */
}
.navbar li{
    display: inline-block;
    /* color: springgreen; */
}
.navbar li a{
    font-size: 30px;
    padding: 5px;
    text-decoration: none;
    font-family:'Times New Roman', Times, serif;
    color: coral; 
    }
.navbar li a:hover, .navbar li a:active{
color: blue;
text-decoration:none;
}
.main{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
}
.button {
    position: relative;
    display: block;
    color:lavender;
    font-size: 14px;
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
    margin: 30px 0;
    border: 2px solid #ff7675;
    padding: 14px 60px;
    text-transform: uppercase;
    overflow: hidden;
    transition: 1s all ease;
}
.button::before{
    background: #ff7675;
    content: "";
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%,-50%);
    z-index: -1;
    transition: all 0.6s ease;
  }

.button1::before{
        width: 0%;
        height: 100%;
      }
.button1:hover::before{
        width: 100%;
      }
.button2::before{
        width: 100%;
        height: 0%;
      }
.button2:hover::before{
        height: 100%;
      }
      
.button3::before{
        width: 100%;
        height: 0%;
        transform: translate(-50%,-50%) rotate(45deg);
      }
.button3:hover::before{
        height: 380%;
      }

